<div style="margin-bottom: 20px;">
    Hello <b>{profileName}!</b>
</div>
<div style="margin-bottom: 10px;">
    Your account has been created in <b>Server Monitoring Facility</b>.
    <br>
    Please find your credentials below for the first time login attempt.
</div>
<div style="margin-bottom: 10px;">
    <table style="margin: 0px; padding: 0px;">
        <tbody style="margin: 0px; padding: 0px;">
            <tr style="margin: 0px; padding: 0px;">
                <td style="margin: 0px; padding: 0px;">
                    <b>Email Address:</b>
                </td>
                <td style="margin: 0px; padding: 0px;">
                    {profileEmail}
                </td>
            </tr>
            <tr style="margin: 0px; padding: 0px;">
                <td style="margin: 0px; padding: 0px;">
                    <b>Login Password:</b>
                </td>
                <td style="margin: 0px; padding: 0px;">
                    {profilePassword}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="margin-bottom: 20px;">
    The Server will prompt you to change your password after your first successful login attempt.
    <br>
    Please note that, after three consecutive failed login attempts, your account will be blocked.
</div>
<div style="margin-bottom: 20px;">
    Warm Regards,
    <br>
    <b>Server Monitoring Team</b>
</div>
<div style="font-family: 'Courier New', Courier, monospace;">
    <b><u>CONFIDENTIALITY NOTICE</u>:</b> This e-mail communication and any attachments may contain confidential and privileged information for the use of the designated
    recipients named above. If you are not the intended recipient, you are hereby notified that you have received this communication in error and that any review, disclosure,
    dissemination, distribution or copying of it or its contents is strictly prohibited. If you have received this communication in error, please notify the sender by return
    e-mail and delete and/or destroy all copies of this communication and any attachments.
</div>